{% extends 'layout.html.twig' %}

{% block content %}

    {% if errors is not empty %}
		{% block errors %}
			<ul class="errors">
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
			</ul>
		{% endblock %}
    {% else %}
		{% block form %}
            {% set route = app.sandbox ? 'sandbox_response' : 'response' %}
			<form action="{{ path(route, {adapter: adapter.name}) }}" method="post" class="well">
				{{ form_widget(form) }}

				<input type="submit" name="submit" />
			</form>
		{% endblock %}
    {% endif %}
{% endblock %}