{% extends 'layout.html.twig' %}

{% block content %}

    {% if errors is not empty %}
        <ul class="errors">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form action="#" method="post" class="well">
        {{ form_widget(form) }}

        <input type="submit" name="submit" />
    </form>
{% endblock %}