
{% block local %}
    <div class="alert alert-danger">
        "local" block should be extended in `Sandbox/Adapter/{{ adapter.name }}.html.twig`
    </div>
{% endblock %}


<div id="remote-content">
    {% block remote %}{% endblock %}
</div>

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            $('#remote-content').detach().appendTo('#remote');
        });
    </script>
{% endblock %}